
div.tooltip {
    position: absolute;
}
* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:12%;
  padding:10px;
}
.plot {
  float:left;
  width:38%;
  padding:10px;
}

.board {
  float:left;
  width:50%;
  padding:10px;
}

.select-player  input{
  display: none;
}

label {
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 30px;
  cursor: pointer;
}

.column {
  float: left;
  padding: 10px; /* Should be removed. Only for demonstration */
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

#DrNykterstein:checked ~ label[for="DrNykterstein"] {
  background: #1f77b4;
}
#penguingim1:checked ~ label[for="penguingim1"] {
  background: #ff7f0e;
}
#Zhigalko_Sergei:checked ~ label[for="Zhigalko_Sergei"] {
  background: #2ca02c;
}
#opperwezen:checked ~ label[for="opperwezen"] {
  background: #d62728;
}
#Night-King96:checked ~ label[for="Night-King96"] {
  background: #9467bd;
}
#Ogrilla:checked ~ label[for="Ogrilla"] {
  background: #8c564b;
}
#Alexander_Zubov:checked ~ label[for="Alexander_Zubov"] {
  background: #bcbd22;
}
#nihalsarin2004:checked ~ label[for="nihalsarin2004"] {
  background: #17becf;
}
#toggleAll:checked ~ label[for="toggleAll"] {
  background: #000;
  color: #fff;
}

/* Style the tab */
.tab {
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  overflow: scroll;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 80%;
}
